{% extends 'base.html' %}

{% block body %}
<div
  id="app"
  data-authenticated="{{ authenticated | tojson }}"
  x-data="blinkApp()"
  x-init="init()"
  class="min-h-dvh flex flex-col"
>
  {% include 'partials/google_login.html' %}
  {% include 'partials/loading.html' %}
  {% include 'partials/blink_setup.html' %}
  {% include 'partials/blink_2fa.html' %}
  {% include 'partials/dashboard.html' %}
  {% include 'partials/video_modal.html' %}
  {% include 'partials/toast.html' %}
</div>
{% endblock %}
